

// ==========================================================================
// Base Stylesheet
// ==========================================================================

  @import "base/_variables";    // Global Variables
  @import "base/_mixins";       // Base Mixins
  @import "base/_resets";       // General Resets

  @import "base/_global";       // Global Typography and Headings
  @import "base/font/font-awesome";       // Font icons
  @import "base/_lists";        // Unordered Lists, Ordered Lists and Navigation
  @import "base/_blockquotes";  // Blockquotes
  @import "base/_code";         // Code
  @import "base/_tables";       // Tables
  @import "base/_forms";        // Forms, Input Types and Buttons

  @import "base/_buttons";      // Custom Base Buttons
  @import "base/_helpers";      // Custom Base Helpers
  
  @import "base/_grid";         // Grid
  @import "base/_tablet-grid";  // Tablet Grid
  @import "base/_mobile-grid";  // Mobile Grid
  @import "base/_print";        // Print Page Styles
  @import "port";        // Print Page Styles

body{
  padding: 30px 0;
  background: url('../img/body.jpg') center top repeat;
}

ul.phone-thumbs {
  margin: 0;
  list-style: none;
}

ul.phone-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.phone-thumbs img:hover {
  cursor: pointer;
}

.header-cont {
    float: left;
    display: inline;
    min-height: 87px;
    padding-top: 30px;
    border-top: 1px solid #ffffff;
    border-width: 1px 0;
    width: 100%;
}

a.portfolio{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: -1px;
  margin: 10px 0px;
  display: block;
}

dl {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #3f3f3f;
  zoom: 1;
  width: 300px;
  display: inline;
}

dl dt {
  float: left;
  display: inline;
  clear: left;
  width: 100px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: gray;
}

dl>* {
  padding: 7px 0;
}

dd {
  margin: 0 0 0 40px;
}

dl {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ffffff;
  zoom: 1;
  width: 300px;
  display: inline;
}

dl ul {
  margin: 0;
  list-style: none;
}
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dl ul li {
  display: inline;
  line-height: 120%;
}

dl ul li:after {
  content: ", ";
}

dl ul {
  margin: 0;
  list-style: none;
}

dl>*:nth-child(1n+3) {
  border-top: 1px solid #ffffff;
}

.header-cont .fa {
  color: #f14e32;
}

.portfolio-item{
  margin-bottom: 2em;
  background: #dededa;
  padding: 10px;
}


