<div class="row" ng-controller="PortfolioListCtrl">
    <p>Total number of phones: {{portfolioItems.length}}</p>
      <div class="column-10">
        <ul>
            <li ng-repeat="portfolioItem in portfolioItems">
                <a href="#/portfolio/{{portfolioItem.portfolioId}}" class="thumb"><!--<img ng-src="{{portfolioItem.imageUrl}}"> --></a>
                <a href="#/portfolio/{{portfolioItem.portfolioId}}">{{portfolioItem.name}}</a>
                <p>{{portfolioItem.snippet}}</p>
            </li>
        </ul>
    </div>
</div>