<header>

    <div>
        <h1>John Fogarty</h1>
        <h2>FOGO IT SERVICES</h2>
    </div>

    <div>I'm a London based contract Front-End developer. Managing front-end development on small to large scale projects, I am passionate about great user experience and fulfilling the creative vision.</div>

    <div>
        <h3>Contact me</h3>
        <ul>
            <li><a href="#/">Portfolio</a> </li>
        </ul>
        <ul>
            <li><a href="#/p">Blog</a> </li>
        </ul>
        <ul>
            <li><a href="#/A">About</a> </li>
        </ul>
        <ul>
            <li><a href="#/A">Contact</a> </li>
        </ul>
    </div>

</header>
