
<div class="container row clear header">
    <div class="col col-4 tablet-full mobile-full">
        <div class="header-cont">
            <h1>Jf</h1>
            <h2>FIS</h2>
    </div></div>
    <div class="col col-4 tablet-col-1-2 mobile-full">
        <div class="header-cont">
            I'm a London based contract Front-End developer. Managing front-end development on small to large scale projects, I am passionate about great user experience and fulfilling the creative vision.
        </div>
    </div>
    <div class="col col-4 tablet-col-1-2 mobile-full">
        <div class="header-cont">
            <ul class="list-unstyled">
                <li><i class="fa fa-envelope-square"></i> Email me: <a href="#/">john@johnfogarty.ie</a></li>
                <li><i class="fa fa-linkedin-square"></i> Linkedin: <a href="https://uk.linkedin.com/in/johnfogartyfrontenddeveloper">John Fogarty </a></li>
                <li><i class="fa fa-git-square"></i> Github: <a href="https://github.com/fogofogo">fogofogo</a></li>
            </ul>
        </div>
    </div>
</div>
