
<div class="container row clear">
    <div class="col col-4 tablet-full mobile-full">
        <h1>Jf</h1>
        <h2>FIS</h2>
    </div>
    <div class="col col-4 tablet-col-1-2 mobile-full">
        I'm a London based contract Front-End developer. Managing front-end development on small to large scale projects, I am passionate about great user experience and fulfilling the creative vision.
    </div>
    <div class="col col-4 tablet-col-1-2 mobile-full">
        <h3>cont</h3>
        <ul>
            <li><a href="#/">P</a></li>
        </ul>
        <ul>
            <li><a href="#/p">B</a></li>
        </ul>
        <ul>
            <li><a href="#/A">A</a></li>
        </ul>
        <ul>
            <li><a href="#/A">Cc</a></li>
        </ul>
    </div>
</div>
